.stack-work/
.stack-ide/
*.cabal
.DS_Store
test/res
*.prof
target/
.build/
test/**/build/
bench/**/build/
test/**/cache/
bench/**/cache/
dist-newstyle/
book/dist/
test/sandbox/
actual
bin/
/package.yaml
node_modules/
dist/
cache/
